/* 2,4,8,16,32,64,128,256,512,1024,2048  각 color 적용*/
td{
  width: 80px;
  height: 80px;
  margin-right: 20px;
  background-color: #CDC1B4;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  border: 5px solid #BBADA0;
  border-radius: 5px;
}

table{
  padding: 5px;
  background-color: #BBADA0;
  border-radius: 5px;
  user-select: none;
}

.color-2{
  color: #776E65;
  background-color: #EEE4DA;
}
.color-4{
  color: #776E65;
  background-color: #EDE0C8;
}
.color-8{
  color: #FAF8EF;
  background-color: #F2B179;
}
.color-16{
  color: #FAF8EF;
  background-color: #F69664;
}
.color-32{
  color: #FAF8EF;
  background-color: #F77C5F;
}
.color-64{
  color: #FAF8EF;
  background-color: #F75F3B;
}
.color-128{
  color: #FAF8EF;
  background-color: #EDD073;
}
.color-256{
  color: #FAF8EF;
  background-color: #EDCC62;
}
.color-512{
  color: #FAF8EF;
  background-color: #EDC950;
}
.color-1024,
.color-2048{
  color: #FAF8EF;
  background-color: #EDC950;
}

.result{
  font-size: 2rem;
}